
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
@font-face {
    font-family: "Droid sans";
    src: url("/fonts/DroidSerif-Italic.ttf"),
         url("/fonts/DroidSans.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;

}
* {
    box-sizing: border-box;
}

a,a:visited {
    color: rgb(153, 152, 152);
  }

  a:hover{
      text-decoration: underline;
  }

a,p,i,span,h2,h4,h5 {
    line-height: 1.5rem;
    letter-spacing: 0.1px;
  }

  p{
      padding-bottom:12px;
  }
h2,h3,h4{

    font-family: 'Oswald', sans-serif;
}
.nav h2{
    font-size: 16px;
}
.nav a{
    font-family: 'Droid ' ,sans-serif;
    font-size:10px;
}
p{
    font-family: 'Droid' ,sans-serif;
    font-size:14px;
}
.services,p,span,li,h2,h4,h5{
    color:rgb(139, 139, 139);

}
h5 {
    color:  rgb(184, 184, 184);
}
.lightgray{
color:  rgb(192, 192, 192);

}
h3{
    color: rgb(245, 131, 9);
    font-weight: 400;
    font-size:25px;
}
hr{
    position: relative;
    left: -8px;
    height: 6px;
    border:none;
 


}
#orange{
    background-color:  #f76900;
    width: 100px;

}
#yellow{
    background-color: #fcd04a;
    width: 140px;
}
#green{
    background-color: #b9d482;
    width: 110px;
}
#blue{
    background-color: #3d92c2;
    width: 110px;
}

#violet{
    background-color:#c078d0;
    width: 120px;
}
.logo img{
    height: 120px;
}

.nav{
    display: flex;
}
ul li{
    list-style-type: none;
}
a{
text-decoration: none;
}
header{
    background:url("./misc/grille.png");
    height: 230px;
    display: flex;
    justify-content:center;
    align-items: center;

}
.line-bottom{

    margin-top:10px;
    border-bottom: 1px solid rgb(235, 232, 232);
}
.line-top{
    margin-top:60px;
    margin-bottom:10px;
    border-bottom: 1px solid rgb(235, 232, 232);
}
.logo{
    margin-right: 100px;
}
.youtube{
    text-align:center;
    margin-top: 30px;
}
.text{
    background:url("./misc/grille.png");
    height: 120px;
    text-align: center;
    font-size: 25px;
    padding:40px;

}

.content{
    display:flex;
    justify-content: center;
    margin-top:40px;
    line-height: 1.5;

}

.first img{
    height: 170px;
}
.second{
    width: 230px;
    margin-right: 20px;
    margin-top:25px;
    margin-right: 40px;
}
.fastfood{
    margin-top: 30px;
}
.first{
border: 1px solid  rgb(218, 218, 218);
padding:15px;
height: 400px;
width: 260px;
margin-right: 40px;
}
.third{
 margin-top:25px;
 width: 500px;

}
.accro{
    margin-top:25px;
}
.accro>img{
    margin: 5px;
    padding:8px;
    border: 1px solid rgb(235, 232, 232);
    height: 110px;
    box-shadow:7px 7px 6px -5px rgb(235, 232, 232);

}
.container{
    background:url("./misc/grille.png");
}
.flex{
    padding: 30px;
    display: flex;
    justify-content:center;
    line-height: 1.5;

}
.container>ul{
    padding-right: 30px;
    line-height: 1.5;
}
.contact-list{
    width: 250px;
    margin-left: 40px;
}
.nous-contacter{
    margin-right: 100px;
}
.nous-contacter>li>img{
   position: relative;
   top:12px;
}
.contact-list>h4{
    margin-bottom: 10px;
}
#comments{
    position: relative;
    top:-12px;
}
.bold{
    font-family: 'Droid ' ,sans-serif;
    color: #85827f;
    font-size: 10.9px;
    font-weight:bolder;
}
#adress{
    margin-left:28px;
}
footer{

    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.underline{
    text-decoration: underline;
}
.res{
    display: flex;
    padding-right: 15px;
}
.res img{
    padding: 3px;
}
.foot{
    margin-right:550px;
    font-size: 12px;
color:  rgb(187, 185, 185);
}

.bar {
    position: relative;
    height: 6px;
     margin: 8px;
    color:red;
    border-right: 1px solid rgb(187, 185, 185);
}